 nav ul {
     list-style-type: none;
     display: flex;
     padding: 0px;
     margin: 0px;
     /*list-style-type: none; enlève les puces devant les éléments de la liste.*/
 }

 nav li {

     padding-top: 10px;
     width: 25%;
 }

 /*.icon{
    padding-top: 0%;
    position:absolute;
    top:10px;
    left: 10px;
    font-size: 50%; 
    width: 50px;
    height: auto;
    margin-left: 5em;          
}*/



 /*Pour aligner les éléments de la liste horizontalement*/

 nav ul::after {
     content: "";
     display: table;
     clear: both;
     /*Pour éviter que les éléments flottants ne débordent de leur conteneur
*/
 }


 nav {
     width: 100%;
     height: 55px;
     margin: 10px auto;
     background-color: rgba(1, 51, 16, 0.7);
     /* blanc transparent */
     position: sticky;
     border-radius: 15px;
 }


 nav a {
     display: block;
     text-align: center;
     font-size: clamp(1.25rem, 1.2vw, 1rem);
     text-align: center;
     font-weight: bold;
     color: white;

 }

 nav a:hover {
     position: relative;
     color: rgb(209, 193, 102);
     font-weight: bold;
     /* Ajout d'une bordure inférieure lors du survol */
 }

 @media (max-width: 768px) {
     nav a {
         font-size: 0.8rem;
     }

     /*Media query pour que le site soit responsive design en fonction de la taille es écrans*/
 }

 .menu {
     display: flex;
     align-items: center;
 }

 body {

     background-image: url("img_2.jpg");
     background-size: cover;
     background-attachment: fixed;
 }

 h1 {
     font-size: 40-large;
     margin-top: 1cm;
     color: darkgreen;
     text-align: center;
     border-radius: 10px;
     background-color: transparent;

 }

 #hero {
     margin: 60px auto;
     font-size: larger;
     background-color: rgba(223, 211, 162, 0.7);
     /* blanc transparent */
     padding: 10px 10px;
     border-radius: 10px;
     width: fit-content;
     border-style: solid;
     border-color: darkgreen;
     border-width: 2px;


 }




 #intro {

     font-size: clamp(1.5rem, 2.5vw, 2rem);
     font-weight: bold;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 10px;
     color: darkgreen;
     width: fit-content;
 }


 .actif {
     color: rgb(209, 193, 102);
     border-bottom: 4px solid darkgreen;
     font-weight: bold;
 }

 .container {

     display: flex;
     /*flex-wrap: wrap;*/
     align-items: left;
     justify-content: space-around;
     gap: 5rem;
     background-color: rgba(255, 235, 205, 0.315);
     margin-top: 50px;
     margin-right: 50px;
     margin-left: 50px;
     border-radius: 10px;
     border-radius: 10px;
     padding: 40px 40px 40px 40px;
     border-color: rgba(230, 191, 67, 0.877);
     border-style: solid;




     /*background-color: rgba(255, 235, 205, 0.315);
     max-width: auto;
     margin-top: 50px;
     margin-right: 50px;
     margin-left: 50px;
     border-color: black;
     border-style: solid;
     
     gap: 20px;
     padding: 15px;*/

 }

 .image img{

     
     /*width: 100%;*/
     max-width: 500px;
     /*object-fit: cover;*/
     border-radius: 10px;
     vertical-align: middle;
}

 .container h2 {
     margin-top: 0;
     font-size: auto;
     color: darkgreen;
     font-weight: bold;
     text-align: left;
     border-radius: 10px;
     border-color: darkgreen;
     background-color: rgba(255, 235, 205, 0.61);
     padding-left: 10px;
 }



 .intro p {
     flex: 1;
     font-weight: bold;
     color:rgb(9, 61, 3);
     border-radius: 10px;
     border-color: darkgreen;
     background-color: rgba(255, 235, 205, 0.61);
     padding-left: 10px;
     /*margin-top: 30%;
     align-items: center;
     font-weight: bold;
     font-size:  clamp(1.5rem, 2.5vw, 2rem);
     max-width: fit-content;*/

 }

   @media (max-width: 768px) {
     .container {
         flex-direction: column;
     }

     /*source chat gpt pour afficher les éléments en colonne pour un effet scrolling sur smartphone*/
 }
