 
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Sans MS';
    /*Ceci permet de faire un reset des marges intérieurs et extérieures des différents éléments (src:https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/)*/
}


nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 20%;
    text-align:center;
}


nav ul::after{
    content:"";
    display: table;
    clear: both;
}
nav{
    width:100%;
    margin:10 auto;
    background-color: green;
    position: sticky;
    top:0px;
}
nav a {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 4px solid transparent;
  padding: 5px 0;
}

nav a:hover{
    color:lightgreen;
    border-bottom: 4px solid brown;
}
.menu {
    display: flex;
    align-items: center;
}
.icon{    
    width: 50px;
    height: auto;    
}
.with-icon a {
    margin-left: auto;
}
body{
   
    background-image: url("background.jpg");
    background-size:cover;
    background-position: bottom;
}
h1{
    font-size: 40-large;
    margin-top: 1cm;
    color: darkgreen;
    text-align:center;
    background-color: transparent;
}
#hero{
    
    font-size: larger;  
    background-color: rgba(255, 255, 255, 0.7); /* blanc transparent */
    padding: 10px 10px;
    border-radius: 1px;
    width:fit-content;
    border-style: raidus;
    margin: auto;
}
#ti-text{
    padding: 10px 10px;
    margin-top: 1cm;
    text-align: center;
    color: darkgreen;
    

}
img{
	display:flex;
	position: sticky;
}

#content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}


