 



nav ul{
    list-style-type: none;
    /*list-style-type: none; enlève les puces devant les éléments de la liste.*/
}
nav li{
    float: left;
    width: 20%;
    text-align:center;
    /*Pour aligner les éléments de la liste horizontalement*/
}


nav ul::after{
    content:"";
    display: table;
    clear: both;
    /*Pour éviter que les éléments flottants ne débordent de leur conteneur*/
}
nav{
    width:100%;
    height: 55px;
    margin:10px auto;
    background-color: rgba(1, 51, 16, 0.7); /* blanc transparent */
    position: sticky;
    border-radius: 15px;
}
nav a {
  width: 100%;
  max-width: 1200px;          /* limite sur grands écrans */
  height: auto;               /* permet l’adaptation */
  margin: 10px auto;

  font-size: clamp(1rem, 2.5vw, 1.5rem);
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */  
  text-decoration: none;
  color: white;
  border-bottom: 4px solid transparent;
  padding: 5px 10px;

   flex-wrap: wrap;   
}

nav a:hover{
    color:lightgreen;
    border-bottom: 4px solid darkgreen;
/* Ajout d'une bordure inférieure lors du survol */
}
.menu {
    display: flex;
    align-items: center;
}
.icon{    
    width: 50px;
    height: auto;    
}
.with-icon a {
    margin-left: auto;
}
body{
   
    background-image: url("img_2.jpg");
    background-size:cover;
    background-attachment: fixed;
}
h1{
    font-size: 40-large;
    margin-top: 1cm;
    color: darkgreen;
    text-align:center;
    border-radius: 10%;
    background-color: transparent;
    
}
#hero{
    
    font-size: larger;  
    background-color: rgba(255, 255, 255, 0.7); /* blanc transparent */
    padding: 10px 10px;
    border-radius: 1px;
    width:fit-content;
    border-style: raidus 10%;
    margin: auto;

}
img{
	display:flex;
	position: sticky;
}

#content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: darkgreen;

}
.actif {
    color: rgb(209, 193, 102);
    border-bottom: 4px solid darkgreen;
    font-weight: bold;
}


