/*Création de galerie, source codepen.io*/



.container {
    /*un conteneur nous permettant de mieux visulaliser les paragraphes et les images*/
    display: flex;
    align-items: left;
    justify-content: space-around;
    gap: 5rem;
    background-color: rgba(2, 49, 12, 0.397);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    border-color: rgba(12, 61, 3, 0.877);
    border-style: solid;

}

.intro {
    /*un conteneur pour mieux visualiser le texte*/
    padding: 40px 40px 40px 40px;
    background-color: rgba(132, 170, 111, 0.61);
    border-radius: 10px;

}



.image img {


    /*width: 100%;*/
    max-width: 100%;
    /*object-fit: cover;*/
    border-radius: 10px;
    vertical-align: middle;
}

.container h2 {
    margin-top: 0;
    font-size: 2em;
    color: rgb(2, 46, 2);
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border-color: darkgreen;
    /*background-color: rgba(255, 235, 205, 0.61);*/
    /*padding-left: 10px;*/
}



.intro p {
    /*flex: 1;*/
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(41, 80, 9);
    border-radius: 10px;
    border-color: darkgreen;

    padding: 40px 40px 40px 40px;

    /*margin-top: 30%;
     align-items: center;
     font-weight: bold;
     
     max-width: fit-content;*/

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .intro {
        padding: 10px;
    }

    .intro p {
        padding: 0px;
        text-align: center;
    }
}


.title {
    margin: 0;
    display: block;
    place-items: center;
    height: auto;
    text-align: center;
    color: #042701;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid darkgreen;
    background-color: rgba(255, 235, 205, 0.61);


}

.stil {
    text-align: center;
    font-style: italic;
    color: #514433;
    font-weight: normal;
    margin: auto;
    letter-spacing: 4px;
    font-size: 19px;
    padding-top: 11px;
}

.main {
    padding: 70px;
    text-align: center;
}

.mbo {
    margin-bottom: 10px;
}

.flips {
    background-color: transparent;
    perspective: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 25px;
}

.flips:hover .bimg {
    transform: rotateY(180deg);
    /*pour l'effet flip sur la galerie*/
}


.bimg {
    position: relative;
    width: 200px;
    height: 301px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 15px;
}

.flip-front,
.flip-back {
    position: absolute;
    width: 200px;
    height: 301px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-front {
    color: rgba(17, 77, 5, 0.24);
}

.flip-back {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.box_text {
    padding: 28px;
}

.imgs {
    vertical-align: middle;
    border-radius: 15px;
    width: fit-content;
    height: 301px;
}

.tlfli {
    font-size: 20px;
    margin-top: 38px;
}

.tlf {
    text-align: justify;
}

.flip-front {
    width: 200px;
    height: 301px;
}

.flip-back {
    width: 200px;
    height: 301px;
}

@media screen and (max-width: 800px) {
    .bimg {}
}

@media screen and (max-width: 600px) {
    .bimg {}
}